<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestAutomation.testng.TestCatalogue</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueRemoveBook</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueSearchByBookNamewhichDoesNotExist</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddToLibraryWithSupportedObject</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testARemoveNewlyAddedBook</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueSearchByAuthornameWhchDoesNotExist</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueAddBook</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueRemoveNonExistingBook</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddToLibraryWithUnsupportedObject</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueAddBooks</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueSearchByBookNamePara</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testARemoveNewlyAddedBook2</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueSearchByBookName</td>
<td>Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueAddBooks</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCatalogueSearchByAuthorname</td>
<td>Alltests </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestAutomation.testng.TestLibrary</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddMember</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddMember</td>
<td>basicOperation Alltests </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
