<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestLibrary</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCatalogue.initializeLibrary()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">&gt;&gt;initializeLibrary</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCatalogue.initializeLibrary()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">&gt;&gt;initializeLibrary</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>22/02/10 09:17:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLibrary.initializeLibrary()[pri:0, instance:TestAutomation.testng.TestLibrary@6283d8b8]">&gt;&gt;initializeLibrary</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>22/02/10 09:17:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLibrary.initializeLibrary()[pri:0, instance:TestAutomation.testng.TestLibrary@6283d8b8]">&gt;&gt;initializeLibrary</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testARemoveNewlyAddedBook()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testARemoveNewlyAddedBook</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testARemoveNewlyAddedBook2()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testARemoveNewlyAddedBook2</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>22/02/10 09:17:32</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLibrary.testAddMember()[pri:0, instance:TestAutomation.testng.TestLibrary@6283d8b8]">testAddMember</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testAddToLibraryWithSupportedObject()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testAddToLibraryWithSupportedObject</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testAddToLibraryWithUnsupportedObject()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testAddToLibraryWithUnsupportedObject</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBook()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBook</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(TestAutomation.testng.Book)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueAddBooks(int,java.lang.String,java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueAddBooks</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueRemoveBook()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueRemoveBook</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueRemoveNonExistingBook()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueRemoveNonExistingBook</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueSearchByAuthorname()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueSearchByAuthorname</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueSearchByAuthornameWhchDoesNotExist()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueSearchByAuthornameWhchDoesNotExist</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueSearchByBookName()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueSearchByBookName</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueSearchByBookNamePara(java.lang.String)[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueSearchByBookNamePara</td> 
  <td>main@1682681674</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>22/02/10 09:17:32</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogue.testCatalogueSearchByBookNamewhichDoesNotExist()[pri:0, instance:TestAutomation.testng.TestCatalogue@14555e0a]">testCatalogueSearchByBookNamewhichDoesNotExist</td> 
  <td>main@1682681674</td>   <td></td> </tr>
</table>
