<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Alltests</td><td>TestLibrary.testAddMember()[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]<br/>TestLibrary.testAddMember(int,java.lang.String,java.lang.String,java.lang.String,int)[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]<br/></td></tr>
<tr><td>basicOperation</td><td>TestLibrary.testAddMember()[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]<br/>TestLibrary.testAddMember(int,java.lang.String,java.lang.String,java.lang.String,int)[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]<br/></td></tr>
</table>
