<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaa7c7">  <td>22/02/10 11:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLibrary.testAddMember(int,java.lang.String,java.lang.String,java.lang.String,int)[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]">testAddMember</td> 
  <td>main@580673921</td>   <td></td> </tr>
<tr bgcolor="aaa7c7">  <td>22/02/10 11:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLibrary.testAddMember(int,java.lang.String,java.lang.String,java.lang.String,int)[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]">testAddMember</td> 
  <td>main@580673921</td>   <td></td> </tr>
<tr bgcolor="aaa7c7">  <td>22/02/10 11:07:16</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLibrary.testAddMember()[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]">testAddMember</td> 
  <td>main@580673921</td>   <td></td> </tr>
<tr bgcolor="aaa7c7">  <td>22/02/10 11:07:16</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLibrary.initializeLibrary()[pri:0, instance:TestAutomation.testng.TestLibrary@57af006c]">&gt;&gt;initializeLibrary</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@580673921</td>   <td></td> </tr>
</table>
