<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyFirstSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.afterMethod()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.afterMethod()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>114</td> <td title="&lt;&lt;AppTest.afterSuite()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>15</td> <td>&nbsp;</td><td title="&lt;&lt;AppTest.aftertest()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.beforeMethod()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.beforeMethod()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>-99</td> <td title="&gt;&gt;AppTest.beforeSuite()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>-88</td> <td>&nbsp;</td><td title="&gt;&gt;AppTest.beforetest()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testApp1()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">testApp1</td> 
  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>22/02/09 10:05:37</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestIgnore.testApp1()[pri:0, instance:TestAutomation.testng.TestIgnore@581ac8a8]">testApp1</td> 
  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>22/02/09 10:05:37</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testApp2()[pri:0, instance:TestAutomation.testng.AppTest@4a7f959b]">testApp2</td> 
  <td>main@313239742</td>   <td></td> </tr>
</table>
