<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testAutomation.restAss.TestPost</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testPostObjectGETResponseWithParamSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostObjectGETRespose</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostObjectPOSTResponse</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostObjectGETResponseWithID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
